### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# npm local config
.npmrc

# Optional REPL history
.node_repl_history

# IDE
.idea
.vscode
