html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Source Code Pro", "Consolas", sans-serif;
	tab-size: 2;
}

body {
	display: grid;
	grid-template-areas:
		"header header"
		"input  output  "
		"html demo  "
		"footer footer"
		"hidden hidden";
	grid-template-rows: 6em 40vh 1fr 48px 0;
	grid-template-columns: minmax(640px, max-content) 1fr;
}

header {
	grid-area: header;
	padding: 0.5em;
	margin: 0;
}

h1 {
	display: inline-block;
}

aside.options {
	float: right;
}

aside.options ul {
	list-style: none;
	padding: 0;
}

#cssgridssupport {
	grid-area: hidden;
	overflow: hidden;
}

#cssgridssupport .warning {
	background: white;
	color: red;
	font-size: 3em;
	font-weight: bold;
	border: 0.5em solid red;
	z-index: 9999;
	padding: 1em;
	text-align: center;
}

#input {
	grid-area: input;
	position: relative;
}

#output {
	grid-area: output;
	position: relative;
	overflow: auto;
}

#output::before {
	content: "Output of PostCSS";
	padding: 1em;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: gray;
	background-color: #f0f0f0;
}

#output .error {
	color: red;
	font-weight: bold;
}

#output .warning {
	color: darkorange;
	font-weight: bold;

}

#html {
	grid-area: html;
	position: relative;
}

#demo {
	grid-area: demo;
	position: relative;
	overflow: auto;
}

footer {
	grid-area: footer;
	padding: 0.5em;
	margin: 0;
	vertical-align: bottom;
	border-top: 1px solid #ccc;
}

footer aside {
	display: inline-block;
	vertical-align: middle;
}

textarea {
	background-color: #fffcf6;
}

textarea,
pre {
	border: 1px solid #f0f0f0;
	padding: 0.5em;
	margin: 0;
}

@supports not (grid-template-areas:"test") {
	body {
		position: relative;
		display: block
	}

	header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		box-sizing: border-box;
		height: 6rem;
	}

    #input {
	    position: absolute;
	    left: 0;
	    top: 6rem;
	    width: 640px;
	    height: calc(50% - 6rem);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #output {
	    position: absolute;
		left: 640px;
	    right: 0;
	    top: 6rem;
	    height: calc(50% - 6rem);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #html {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    width: 640px;
	    height: calc(50% - 48px);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #demo {
	    position: absolute;
	    top: 50%;
	    left: 640px;
	    right: 0;
	    height: calc(50% - 48px);
	    width: calc(100% - 640px);
	    box-sizing: border-box;
    }

    footer {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 48px;
	    width: 100%;
	    box-sizing: border-box;
    }

	#cssgridssupport .warning {
		display: none;
	}
}